<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name = "BasePackage.BasePage" />
      <class name = "testcases.VerifyProductsAreDisplayedOnTheHomePage" />
      <class name = "testcases.VerifySearchFuntioanlityOnHomePage" />
      <class name = "testcases.VerifyProductImagePriceAndAddToCartButtonAreDisplayedForEachProduct" />
      <class name = "testcases.VerifyAddToCartFuntionality" />
      <class name = "testcases.VerifyProductDetailsInMiniBasket" />
      <class name = "testcases.VerifyProductDetailsInCheckoutPage" />
      <class name = "testcases.VerifyOrderCannotBePlacedWithoutSelectingTermsAndConditions" />
      <class name = "testcases.VerifyUserCanNavigateToTermsAndConditionsPage" />
      <class name = "testcases.VerifySingleItemOrderType" />
      <class name = "testcases.VerifyMultipleItemOrderType" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
